.carousel .carousel-nav {
    position: absolute;
    top: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.carousel .carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel .carousel-indicator { margin-right: 24px; }
.carousel .carousel-indicator:last-of-type { margin-right: 0; }

.carousel .carousel-indicator i {
    display: block;
    height: 30px;
    width: auto;
    color: #FFFFFF;
    border-radius: 100%;
    opacity: 0.33;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;
}
.carousel .carousel-indicator i:hover { opacity: 0.67; }
.carousel .carousel-indicator i.active { opacity: 1 !important; }